@using QLKFinal.Models
@model IEnumerable<QLKFinal.Models.Objectss>
@{
    ViewBag.Title = "Index";
}

<h2>Vật tư</h2>

<p>
    @Html.ActionLink("Thêm mới", "New", "Objectss", new {@class="btn btn-primary"})
</p>
<table id="objectss" class="table table-hover table-bordered">
    <thead>
    <tr>
        <th>Mã vật tư</th>
        <th>Tên vật tư</th>
        <th>Số lượng</th>
        <th>Đơn vị</th>
        <th>Nhà cung cấp</th>
        <th>Xóa</th>
    </tr>
    </thead>
    <tbody></tbody>
</table>

@section scripts
{
    <script>
       $(document).ready(function () {
           var table = $("#objectss").DataTable({
                ajax: {
                    url: "/api/objectss",
                    dataSrc: ""
                },
                columns: [
                    {
                        data: "id",
                        render: function(data, type, objectss) {
                            return "<p>" + objectss.id + "</p>";
                        }
                    },
                    {
                        data: "displayname",
                        render: function(data, type, objectss) {
                            return "<a href='/objectss/edit/" + objectss.id + "'>" + objectss.displayName + "</a>";
                        }
                    },
                    {
                        data: "count",
                        render: function(data, type, objectss) {
                            return "<p>" + objectss.count + "</p>";
                        }
                    },
                    {
                        data: "unit.displayName"
                    },
                    {
                        data: "suplier.displayName"
                    },
                    {
                        data: "id",
                        render: function(data) {
                            return "<button class='btn-link js-delete' data-objectss-id =" + data + ">Xóa</button>";
                        }
                    }
                    ]
            });



            $("#objectss").on("click", ".js-delete",
                function () {
                    var button = $(this);

                    bootbox.confirm("Bạn chắc chắn muốn xóa vật phẩm này?",
                        function(result) {
                            if (result) {
                                $.ajax({
                                    url: "/api/objectss/" + button.attr("data-objectss-id"),
                                    method: "DELETE",
                                    success: function() {
                                        table.row(button.parents("tr")).remove().draw();
                                    }
                                });
                            }
                        });
                });
        });
    </script>
}
