@model IEnumerable<QLKFinal.Models.Unit>

@{
    ViewBag.Title = "Unit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Đơn vị</h2>
<p>
    @Html.ActionLink("Thêm mới", "New", "Unit", new {@class="btn btn-primary"})
</p>
<table id="unit" class="table table-bordered table-hover">
    <thead>
    <tr>
        <th>Số thứ tự</th>
        <th>Tên hiển thị</th>
        <th>Xóa</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var unit in Model)
    {
        <tr>
            <td>@unit.Id</td>
            <td>@Html.ActionLink(unit.DisplayName, "Edit", "Unit", new {id = unit.Id}, null)</td>
            <td><button data-unit-id="@unit.Id" class="btn-link js-delete">Xóa</button></td>
        </tr>
    }
    </tbody>
</table>

@section scripts
{
    <script>
        $(document).ready(function() {
            var table = $("#unit").DataTables();

            $("#unit").on("click",
                ".js-delete",
                function() {
                    var button = $(this);
                    bootbox.confirm("Bạn chắc chắn muốn xóa?",
                        function(result) {
                            if (result) {
                                $.ajax({
                                    ur: "/api/unit/" + button.attr("data-unit-id"),
                                    method: "DELETE",
                                    success: function() {
                                        table.row(button.parents("tr")).remove().draw();
                                    }
                                });
                            }
                        });
                });
        });
    </script>
}