@model IEnumerable<QLKFinal.Models.Objectss>
@{
    ViewBag.Title = "Ofsuplier";
}

<h2>Khách hàng</h2>
<table class="table table-hover table-bordered">
    <thead>
    <tr>
        <th>Tên</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var s in Model)
    {
        <tr>
            <td>@s.DisplayName</td>
        </tr>
    }
    </tbody>
</table>
