@model IEnumerable<QLKFinal.Models.Customer>

@{
    ViewBag.Title = "title";
}
<h2>Danh sách các khách hàng của </h2>
<table class="table table-hover table-bordered">
    <thead>
    <tr>
        <th></th>
    </tr>
    </thead>
</table>
