@model IEnumerable<QLKFinal.Models.MoreModels.Input>

@{
    ViewBag.Title = "Input";
}

<h2>Phiếu nhập</h2>
<p>
    @Html.ActionLink("Thêm mới", "New", "Input", new {@class="btn btn-primary"})
</p>
<table class="table table-hover table-bordered">
    <thead>
    <tr>
        <th>Mã phiếu nhập</th>
        <th>Ngày nhập</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var input in Model)
    {
        <tr>
            <td>@input.Id</td>
            <td>@input.DateAdded.Value.ToShortDateString()</td>
        </tr>
    }
    </tbody>
</table>

